# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtualenv (if in-project)
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# Installer logs
pip-log.txt
poetry.lock.bak

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy, Pyright, Pylint, Bandit etc.
.mypy_cache/
.pyright/
.pytest_cache/
.dmypy.json
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

